{% extends 'public/base_cpanel.html' %}
<!--Cambiando el title-->
{% block title %}Lawyer | Acerca de{% endblock %}
<!---->
{% block customCSS %}
<link
  rel="stylesheet"/>
{% endblock %}

<!--Inicio del block-->
{% block body %}
<!---->
<meta charset="utf-8">
    <title>eLEARNING - eLearning HTML Template</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Favicon -->
    <link href="img/favicon.ico" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;600&family=Nunito:wght@600;700;800&display=swap" rel="stylesheet">

    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="lib/animate/animate.min.css" rel="stylesheet">
    <link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">

    <!-- Customized Bootstrap Stylesheet -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="css/style.css" rel="stylesheet">

<div class="card" style="border-radius: 0px !important">
  <div class="row justify-content-center mb-2">
    <div class="col-md-12">
      <h3 class="text-center mt-5 mb-3">
        <a href="/acerca-de">
          <i class="bi bi-arrow-left-circle"></i>
        </a>
          INFORMACIÓN
      </h3>
      <hr />
    </div>
  </div>

  
  <!-- Contact Start -->
  <div class="card" style="border-radius: 0px !important">
    <div class="row justify-content-center mb-2">
      <div class="align-items-center justify-content-center">
        <h1 style="font-family: 'Comic Sans MS'" class="text-center mt-5 mb-3">Legal & Inf.</h2>
          <h4 class="text-center mt-2 mb-1" style="font-family: 'Comic Sans MS'">SISTEMA WEB PARA LA GESTIÓN DE PROCESOS LEGALES.</h4>    
      </div> 
        <div class="row g-4">
               
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                <p class="text-secondary" style="font-family: 'Comic Sans MS'">Datos.</p>
                <div class="d-flex align-items-center mb-3">
                  <div class="d-flex align-items-center justify-content-center flex-shrink-0 bg-secondary" style="width: 50px; height: 50px; ">
                      <i class="fa fa-info text-white"></i>
                  </div>
                  <div class="ms-3">
                      <h5 class="text-secondary secondary">Versión</h5>
                      <p class="mb-0">1.0</p>
                  </div>
                </div>
                <div class="d-flex align-items-center mb-3">
                    <div class="d-flex align-items-center justify-content-center flex-shrink-0 bg-secondary" style="width: 50px; height: 50px;">
                        <i class="fa fa-cogs text-white"></i>
                    </div>
                    <div class="ms-3">
                        <h5 class="text-secondary">Creado por</h5>
                        <p class="mb-0">Victor Andrade Gamboa</p>
                    </div>
                </div>
                <div class="d-flex align-items-center mb-3">
                    <div class="d-flex align-items-center justify-content-center flex-shrink-0 bg-secondary" style="width: 50px; height: 50px;">
                        <i class="fa fa-phone-alt text-white"></i>
                    </div>
                    <div class="ms-3">
                        <h5 class="text-secondary">Teléfono</h5>
                        <p class="mb-0">311 211 7182</p>
                    </div>
                </div>
                <div class="d-flex align-items-center">
                    <div class="d-flex align-items-center justify-content-center flex-shrink-0 bg-secondary" style="width: 50px; height: 50px;">
                        <i class="fa fa-envelope-open text-white"></i>
                    </div>
                    <div class="ms-3">
                        <h5 class="text-secondary">Email</h5>
                        <p class="mb-0">vianga123@gmail.com</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-8 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
              <p class="text-secondary" style="font-family: 'Comic Sans MS'">Me puedes encontrar en esta ubicación</p>
              <div class="d-flex align-items-center mb-3">
                  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3950.044968066798!2d-76.72404522504367!3d8.096896902882557!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e5065f09dc5859b%3A0xee327f3bd01208f1!2sCl.%20103%20%2319-130%2C%20Turbo%2C%20Antioquia!5e0!3m2!1sen!2sco!4v1720828592129!5m2!1sen!2sco" width="600" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
              </div>
            </div>
            
        </div>
    </div>
</div>
<!-- Contact End -->
  

</div>


{% endblock %}
