{% extends 'public/base_cpanel.html' %}
<!--Cambiando el title-->
{% block title %}Lawyer  | Editar Proceso{% endblock %}
<!---->
{% block customCSS %}
<link
  rel="stylesheet"/>
 {% endblock %}

<!--Inicio del block-->
{% block body %}
<div class="card" style="border-radius: 0px !important">
  
  {% if respuestaProceso|length %}
  <div class="row justify-content-center mb-2">
    <div class="col-md-12">
      <h3 class="text-center mt-5 mb-3">
        EDITAR PROCESO
      </h3>
      <hr />
    </div>
  </div>
  
<div class="row justify-content-center mb-2">
    <div class="col-md-10">
      <form
        name="updateProce"
        class="form-horizontal mx-auto" 
        method="POST"
        action="/lista-de-clientes"
        enctype="multipart/form-data">
        <div class="card-body">
          <div class="row">
            <div class="col-md-4" hidden>
              <input
                type="text"
                name="id_ap"
                id="id_ap"
                value="{{ respuestaProceso.id_area_proceso }}"
                class="form-control"
                required 
                readonly
                hidden
              />
            </div>
            <div class="col-md-4">
              <label for="identificacion_empleado" class="form-label">
                Identificacion del Cliente
              </label>
              <input
                type="text"
                name="id_cliente"
                id="id_cliente"
                value="{{ respuestaProceso.id }}"
                class="form-control"
                required 
                readonly
              />
            </div>
            <div class="col-md-4">
              <label for="nombre_empleado" class="form-label">
                Nombre Cliente
              </label>
              <input
              type="text"
              name="nombre_empleado"
              id="nombre_empleado"
              value="{{respuestaProceso.nombre_empleado}}"
              class="form-control"
              required 
              readonly
              disabled=true
              />
            </div>
            <div class="col-md-4">
              <label for="apellido_cliente"  class="form-label">
                Apellido Cliente
              </label>
              <input
              type="text"
              name="apellido_cliente"
              id="apellido_cliente"
              value="{{respuestaProceso.apellido_empleado}}"
              class="form-control"
              required 
              readonly
              disabled="true"
              />
            </div>
          </div>

          <div class="row mt-2">
              <div class="col-md-6">
                <label class="form-label" >Seleccionar area</label>
                <select name="proce" data-live-search="true" id="proce" class="form-control" title="" onfocus="oFun()" required> 
                    {% for row in tipoproceso %} {% if row.id_tipo_proceso == respuestaProceso.id_area_tip %}
                    <option value='{{respuestaProceso.id_area_tip}}'>{{  respuestaProceso.proceso_nombre }}</option>
                    {% endif %}{% endfor %}
                    {% for row in tipoproceso %} {% if row.id_tipo_proceso != respuestaProceso.id_area_tip %}
                    <option value='{{row.id_tipo_proceso}}' >{{  row.proceso_nombre }}</option>
                    {% endif %} {% endfor %}
                </select>
                
              </div>
              <div class="col-md-6">
                <label class="form-label" >Seleccionar tipo de proceso</label>
                  <select name="areas" data-live-search="true" id="areas"  class="form-control" required>
                </select>
              </div>
          </div>
          
          <div class="row mt-2">
            <div class="col-md-4" hidden>
              <input
                type="text"
                name="id_pro"
                id="id_pro"
                value="{{ respuestaProceso.id_proceso }}"
                class="form-control"
                required 
                readonly
                hidden
              />
            </div>
            <div class="col-md-6">
              <label for="proceso_numero" class="form-label">
                Numero de Radicado
              </label>
              <input
                class="form-control"
                type="text"
                minlength="23"
                maxlength="23"
                name="proceso_numero"
                id="proceso_numero"
                value="{{  respuestaProceso.proceso_numero }}"
                required />
            </div>
            <div class="col-md-6">
              <label for="demandado" class="form-label">
                Demandado
              </label>
              <input
                class="form-control"
                type="text"
                name="demandado"
                id="demandado"
                value="{{  respuestaProceso.demandado }}"
                onblur="this.value=this.value.toUpperCase()"
                required />
            </div>
            <div class="col-md-6" hidden>
              <input
                class="form-control"
                type="text"
                name="id_juz"
                id="id_juz"
                value="{{  respuestaProceso.id_juzgado }}"
                readonly
                hidden
                required />
            </div>
          </div>
          
          <div class="row mt-2">
            <div class="col-md-6">
              <label for="depto" class="form-label">
                Ubicación Juzgado
              </label>
              <select name="depto"  id="depto" data-live-search="true" placeholder="Seleccione" class="form-control" required>
                {% for row in depto %} {% if row.cod_municipio == respuestaProceso.id_depto %}
                <option value='{{respuestaProceso.cod_municipio}}'>{{  respuestaProceso.nombre }}</option>
                {% endif %}{% endfor %}
                {% for row in depto %} {% if row.cod_depto != respuestaProceso.id_depto %}
                <option value='{{row.cod_municipio}}' >{{  row.nombre }}</option>
                {% endif %} {% endfor %}
              </select>

            </div>
            <div class="col-md-6">
              <label for="juzgado" class="form-label">
                Juzgado
              </label>
              <select name="id_juzgado" data-live-search="true" id="id_juzgado"  class="form-control" required>
                
              </select>
            </div>
           
          </div>
       
          <div class="row mt-2" id="divdelgra">
            <div class="col-md-6">
              <label for="delitos" class="form-label">
                Delito
              </label>
                <select name="id_delito" id="id_delito" data-live-search="true"  class="form-control" required>
                  <option value="" selected="selected">seleccione</option>
                  {% for row in combodelito %}
                  <option value='{{ row.id_delito }}'>{{row.delitos_nombre}}</option>
                  {% endfor %}
                </select>
            </div>
            <div class="col-md-6">
              <label class="form-label" >Seleccionar Agravante</label>
              <select name="agra" data-live-search="true" id="agra" class="form-control" title="Seleccionar Agravante" required>
                <option value="" selected="selected">seleccione</option>
              </select>
            </div>
          </div>  

    </div>
        <div class="mb-3 mt-4 text-center">
            <button id="aproceso" name="aproceso" class="btn rounded-pill btn-primary" onclick="aProcesos()">
              Actualizar procesos
              <i class="bi bi-arrow-clockwise"></i> 
            </button>
            
            <button id="gdelito" name="gdelito" class="btn rounded-pill btn-primary" onclick="gDelitos()">
              Guardar Delito
              <i class="bi bi-arrow-clockwise"></i>
            </button>

            <button id="otro" name="otro" class="btn rounded-pill btn-primary" onclick="oDelito()">
              Agregar otro delito
              <i class="bi bi-arrow-clockwise"></i>
            </button>

            <button id="terminar" name="terminar" action="lista_clientes.html" class="btn rounded-pill btn-primary" >
              Terminar
              <i class="bi bi-arrow-clockwise"></i>
            </button>
          </div>
          
          <div class="table-responsive text-nowrap table-hover">
            <table
              table-hover
              id="tbl_listado"
              class="table table-striped table-bordered"
              cellspacing="0"
              width="100%"
              >
              <thead>
                <tr>
                  <th>Delito</th>
                  <th>Agravante</th>
                  <th>Acción</th>
                </tr>
              </thead>
              <tbody>
                {% for agravv in agrav%}
                <tr id="">
                  
                  <td>{{ agravv.delitos_nombre }}</td>
                  <td>{{ agravv.descripcion }}</td>
                  
                  <td width="10px">
                    <a
                      href=""
                      type="button"
                      class="btn btn-info btn-sm"
                      data-bs-toggle="tooltip"
                      data-bs-offset="0,4"
                      data-bs-placement="top"
                      data-bs-html="true"
                      onclick="inacDel('{{agravv.id_delagra}}')">
                      Eliminar
                    </a>
                  </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>

        </div>
      </form>
    </div>
  </div>
  {% else %}
  <div class="row justify-content-center mb-2">
    <div class="col-md-12">
      <h3 class="text-center">No existe el proceso</h3>
    </div>
  </div>

  {% endif %}
</div>

{% endblock %} 

{% block customJS %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.3/js/bootstrap-select.min.js"></script>
<script>
  document.getElementById('divdelgra').style.display = 'none';
  $("#otro").prop("disabled", true);
  $("#terminar").prop("disabled", true);
  $("#otro").prop("disabled", true);
</script>

<!-- carga combo area dependiendo del tipo de proceso -->
<script>
          $(document).ready(function () {
              $("#proce").selectpicker();
              $("#areas").select();
              $("#id_delito").selectpicker();
              $("#id_juzgado").select();
              id_delito.setAttribute("disabled","true");
              agra.setAttribute("disabled","true");
              gdelito.setAttribute("disabled","true");
              function load_data(type, id_tipo_area) {
                 $.ajax({
                      url: "/areas",
                      method: "POST",
                      data: { type: type, id_tipo_area: id_tipo_area },
                      dataType: "json",
                      success: function (data) { //alert(category_id)
                        var html = "";
                          for (var count = 0; count < data.length; count++) {
                              html += '<option class="form-control" value="' + data[count].id_tip_area + '">' + data[count].nombre_area + "</option>";
                          }
                          if (type == "areaData") {
                              $("#proce").html(html);
                              $("#proce").selectpicker("refresh");
                          } else {
                              $("#areas").html(html);
                              $("#areas").selectpicker("refresh");
                          }
                      },
                });
              }
              $(document).on("change", "#proce", function () {
                  var id_tipo_area = $("#proce").val();
                  load_data("areaModeldata", id_tipo_area);
              });
          });
</script>

<!-- cargar tipo de proceso dependiendo del area que se seleccione al momento de hacer un nuevo proceso -->
<script>
 function cargaA(id_proceso) {
  var id_tipo_area = $("#proce").val();
  load_data("areaModeldata", id_tipo_area);
 $(document).ready(function () {
      $("#proce").selectpicker();
      $("#areas").selectpicker();
      $("#id_delito").selectpicker();
      $("#id_juzgado").select();
      id_delito.setAttribute("disabled","true");
      agra.setAttribute("disabled","true");
      gdelito.setAttribute("disabled","true");
      function load_data(type, id_tipo_area) {
          $.ajax({
              url: "/areas",
              method: "POST",
              data: { type: type, id_tipo_area: id_tipo_area },
              dataType: "json",
              success: function (data) { //alert(category_id)
                var html = "";
                  for (var count = 0; count < data.length; count++) {
                      html += '<option class="form-control" value="' + data[count].id_tip_area + '">' + data[count].nombre_area + "</option>";
                  }
                  if (type == "areaData") {
                      $("#proce").html(html);
                      $("#proce").selectpicker("refresh");
                  } else {
                      $("#areas").html(html);
                      $("#areas").selectpicker("refresh");
                  }
              },
          });
      }
  });
}
</script>

<script>
     $( function() {
    $("#proce").change( function() {
        if ($(this).val() === "1") {
            id_delito.value= "";
            document.getElementById('id_juzgado').focus()
        } else {
            document.getElementById('id_juzgado').focus()
        }
    });
});
</script>    

<!-- CARGA COMBO DE JUZGADOS DE CADA MUNICIPIO -->
<script>
  $(document).ready(function () {
      $("#depto").selectpicker();
      $("#id_juzgado").select();
      function load_data(type, cod_municipio) {
          $.ajax({
              url: "/depto",
              method: "POST",
              data: { type: type, cod_municipio: cod_municipio },
              dataType: "json",
              success: function (data) { //alert(category_id)
               var html = "";
                  for (var count = 0; count < data.length; count++) {
                      html += '<option class="form-control" value="' + data[count].id_juzgado + '">' + data[count].nombre_juzgado +"</option>";
                  }
                  if (type == "municipioData") {
                      $("#depto").html(html);
                      $("#depto").selectpicker("refresh");
                  } else {
                      $("#id_juzgado").html(html);
                      $("#id_juzgado").selectpicker("refresh");
                  }
              },
          });
      }
      $(document).on("change", "#depto", function () {
          var cod_municipio = $("#depto").val();
          load_data("areaModeldata", cod_municipio);
      });
  });
</script>

<!-- //  CARGA COMBO DE AGRAVANTES DEPENDIENDO DEL DELITO  -->
<script>
  $(document).ready(function () {
      $("#id_delito").selectpicker();
      $("#agra").selectpicker();
      function load_data(type, id_delito) {
          var ag = document.getElementById('agra').value;
          $.ajax({
              url: "/agravante",
              method: "POST",
              data: { type: type, id_delito: id_delito },
              dataType: "json",
              success: function (data) { //alert(id_delito)
                var html = "";
                  for (var count = 0; count < data.length; count++) {
                      html += '<option class="form-control" value="' + data[count].id_agravante + '">' + data[count].descripcion + "</option>";
                  }
                  if (type == "modelData") {
                      $("#id_delito").html(html);
                      $("#id_delito").selectpicker("refresh");
                  } else {
                      $("#agra").html(html);
                      $("#agra").selectpicker("refresh");
                  }
              },
          });
      }
      $(document).on("change", "#id_delito", function () {
          var id_delito = $("#id_delito").val();
          load_data("areaModeldata", id_delito);
      });
  });
</script>

<!-- evento llenar tipo de proceso guardado en proceso esto para cuando se cargue la pagina para editar un proceso -->
<script>
      window.addEventListener("load", function() {
      var id_tipo_area = $("#proce").val();
      var pn = $("#id_pro").val();
      var idap = $("#id_ap").val();
      load_datas("areaModeldata", id_tipo_area, pn, idap);
    });
       function load_datas(type, id_tipo_area, pn, idap) {
                  $.ajax({
                      url: "/areas",
                      method: "POST",
                      data: { type: type, id_tipo_area: id_tipo_area, pn, idap },
                      dataType: "json", 
                      success: function (data) { //alert(category_id)
                      var html = "";
                          for (var count = 0; count < data.length; count++) {
                              if (data[count].id_tip_area == idap){
                                html += '<option class="selected" value="' + data[count].id_tip_area + '">' + data[count].nombre_area + "</option>";
                              }
                          }
                          if (id_tipo_area !== '1'){
                            document.getElementById('tbl_listado').style.display = 'none';
                          }  
                          $("#areas").html(html);
                          $("#areas").selectpicker("");
                      },
                });
             }
</script>

<!-- evento para cargar el juzgado guardado en proceso, esto al momento de hacer una edicion de un proceso  -->
<script>
  window.addEventListener("load", function() {
  var pro = $("#proce").val();
  var cod_municipio = $("#depto").val();
  var ju = $("#id_juz").val();
  load_data("areaModeldataa", cod_municipio, ju, pro);
});
   function load_data(type, cod_municipio, ju, pro) {
                $.ajax({
                  url: "/depto",
                  method: "POST",
                  data: { type: type, cod_municipio: cod_municipio, ju: ju, pro:pro},
                  dataType: "json",
                  success: function (data) { //alert(category_id)
                  var html1 = "";
                   for (var count = 0; count < data.length; count++) {
                          if (data[count].id_juzgado == ju){
                            html1 += '<option class="selected" value="' + data[count].id_juzgado + '">' + data[count].nombre_juzgado + "</option>";
                          }
                      }
                      $("#id_juzgado").html(html1);
                      $("#id_juzgado").selectpicker("");
                      $("#depto").selectpicker("");
                  },
            });
         }
</script>

<script>
//actualizar o editar un proceso de un cliente
function aProcesos() {
  var id = document.getElementById('id_pro').value;
  var id_cliente = document.getElementById('id_cliente').value;
  var proce = document.getElementById('proce').value;
  var area = document.getElementById('areas').value;
  var proceso_numero = document.getElementById('proceso_numero').value;
  var demandado = document.getElementById('demandado').value;
  var depto = document.getElementById('depto').value;
  var id_juzgado = document.getElementById('id_juzgado').value;
  if (confirm("¿Estas seguro que desea actualizar el proceso????????"+id_juzgado)){
      $.ajax({
        url:"/form-actualizar-proceso",
        type:'post',
        data:{id:id, id_cliente:id_cliente, proce:proce, area:area, proceso_numero:proceso_numero, demandado:demandado, depto:depto, id_juzgado:id_juzgado},
        dataType: "json",
      })
        $("#proce").prop("disabled", true);
        $("#areas").prop("disabled", true);
        $("#proceso_numero").prop("disabled", true);
        $("#demandado").prop("disabled", true);
        $("#depto").prop("disabled", true);
        $("#id_juzgado ").prop("disabled", true);
        $("#aproceso").prop("disabled", true);
        $("#adelito").prop("disabled", false);
        $("#id_delito").prop("disabled", true);
        $("#otro").prop("disabled", false);
        $("#terminar").prop("disabled", false);
        if (proce=='1'){
          document.getElementById('divdelgra').style.display = 'block'; 
        }else{
          $("#id_delito").prop("disabled", true);
          $("#agra").prop("disabled", true);
        }
  }
}
</script>

<!-- //guardar delitos y agravantes  -->
<script>
  //guardar delitos y agravantes 
function gDelitos(){
  var id_cliente = document.getElementById('id_cliente').value;
  var id_delito = document.getElementById('id_delito').value;
  var agra = document.getElementById('agra').value;
  var proceso_numero = document.getElementById('proceso_numero').value;
  if (confirm("¿Estas seguro que desea guardar el delito?"+"id delito "+id_delito+"agra "+agra)){
        $.ajax({
          url:`/form-registrar-delitos`,
          type:'POST',
          data:{id_cliente:id_cliente, id_delito:id_delito, agra:agra, proceso_numero:proceso_numero},
          dataType: "json",
          success:function(resp){
             $("#resultado").html(resp);
          }
        });
        $("#proce").prop("disabled", true);
        $("#areas").prop("disabled", true);
        $("#proceso_numero").prop("disabled", true);
        $("#demandado").prop("disabled", true);
        $("#depto").prop("disabled", true);
        $("#id_juzgado ").prop("disabled", true);
        $("#gdelito").prop("disabled", true);
        $("#aproceso").prop("disabled", true);
        $("#id_delito").prop("disabled", true);
        $("#agra").prop("disabled", true);
        $("#gdelito").prop("disabled",true);
        $("#gproceso").prop("disabled",true);
        $("#terminar").prop("disabled",false);
        $("#id_delito").selectpicker("refresh");
        $("#agra").selectpicker("refresh");
        $("#id_delito").val('0')
        $("#agra").val('0')
        $("#id_delito").selectpicker("refresh");
        $("#agra").selectpicker("refresh");
        
  }
  var id_cli = document.getElementById('id_cliente').value;
  var radicado = document.getElementById('proceso_numero').value;
          $.ajax({
            url: "/listarde",
            method: "POST",
            data: { id_cli: id_cli, radicado: radicado},
            dataType: "json",
            success: function (data) { //alert(id_delito)
              var html1 = "";
              var html2 = "";
              var html3 = "";
                for (var count = 0; count < data.length; count++) {
                    html1 += '<p >'+data[count].delitos_nombre+"</p>";
                    html2 += '<p >'+data[count].descripcion+"</p>";
                    html3 += '<p  type="button" class="btn btn-info btn-sm" data-bs-toggle="tooltip" data-bs-offset="0,4" data-bs-placement="top" data-bs-html="true">'+ 'Eliminar' +"</p>";
                    $("#resultado1").html(html1);
                    $("#resultado2").html(html2);
                    $("#filas").html(html3);
                }
            },
            
        });
}
</script>

<!-- Agregar otro delito -->
<script>
  function oDelito() {
          var idel="";
          $("#aproceso").prop("disabled",true);
          $("#terminar").prop("disabled", true);
          $("#proce").prop("disabled", true);
          $("#areas").prop("disabled", true);
          $("#proceso_numero").prop("disabled", true);
          $("#demandado").prop("disabled", true);
          $("#depto").prop("disabled", true);
          $("#id_juzgado ").prop("disabled", true);
          $("#gdelito").prop("disabled",false);
          $("#agra").prop("disabled", false);
          $("#otro").prop("disabled",true);
          $("#id_delito").prop("disabled", false);
          $("#id_delito").val('0')
          $("#agra").val('0')
          $("#id_delito").selectpicker("refresh");
          $("#agra").selectpicker("refresh");
  }
  </script>

<!-- validar campor de delitos y guardar si pasan la validacion -->
<script>
  function validarCamposDel() {
    if (confirm("¿Estas seguro que desea guardar el delito?")){  
      const mensajeError = document.getElementById('mensajeError');
       var id_cliente = document.getElementById('id_cliente').value;
       var id_delito = document.getElementById('id_delito').value;
       var agra = document.getElementById('agra').value;
       var proceso_numero = document.getElementById('proceso_numero').value;
       document.getElementById('tbl_del').style.display = 'block'; 
          if (id_delito.trim() === '') {
              mensajeError.innerText = 'Seleccione un delito.';
              return;
          }
  
          if (agra.trim() === '') {
              mensajeError.innerText = 'Seleccione un agravante.';
              return;
          }
          
          $.ajax({
            url:`/form-registrar-delitos`,
            type:'post',
            data:{id_cliente:id_cliente,id_delito:id_delito,agra:agra,proceso_numero:proceso_numero},
            dataType: "json",
            success:function(resp){
               $("#resultado").html(resp);
            }
          
          });
          $("#proce").prop("disabled", true);
          $("#areas").prop("disabled", true);
          $("#proceso_numero").prop("disabled", true);
          $("#demandado").prop("disabled", true);
          $("#depto").prop("disabled", true);
          $("#id_juzgado ").prop("disabled", true);
          $("#gdelito").prop("disabled", true);
          $("#aproceso").prop("disabled", true);
          $("#id_delito").prop("disabled", true);
          $("#agra").prop("disabled", true);
          $("#gdelito").prop("disabled",true);
          $("#gproceso").prop("disabled",true);
          $("#terminar").prop("disabled",false);
          $("#id_delito").selectpicker("refresh");
          $("#agra").selectpicker("refresh");
          $("#id_delito").val('0')
          $("#agra").val('0')
          $("#id_delito").selectpicker("refresh");
          $("#agra").selectpicker("refresh");
          
    }
    //listando los delitos que se van guardando de un proceso
    var id_cli = document.getElementById('id_cliente').value;
    var radicado = document.getElementById('proceso_numero').value;
            $.ajax({
              url: "/listarde",
              method: "POST",
              data: { id_cli: id_cli, radicado: radicado},
              dataType: "json",
              success: function (data) { //alert(id_delito)
                var html1 = "";
                var html2 = "";
                var html3 = "";
                  for (var count = 0; count < data.length; count++) {
                      html1 += '<p >'+data[count].delitos_nombre+"</p>";
                      html2 += '<p >'+data[count].descripcion+"</p>";
                      html3 += '<p  type="button" class="btn btn-info btn-sm" data-bs-toggle="tooltip" data-bs-offset="0,4" data-bs-placement="top" data-bs-html="true">'+ 'Eliminar' +"</p>";
                      $("#resultado1").html(html1);
                      $("#resultado2").html(html2);
                      $("#filas").html(html3);
                  }
              },
              
          });
  }
  </script>
{% endblock %}
