<!DOCTYPE html>
<html
  lang="es"
  class="light-style layout-menu-fixed"
  dir="ltr"
  data-theme="theme-default"
  data-assets-path="../assets/"
  data-template="vertical-menu-template-free">
  <head>
    {% include 'public/includes/head.html' %}
    <link rel="stylesheet">
    <!---->
    {% block customCSS %} {% endblock %}
  </head>
  <body>
    {% include 'public/includes/pre_loader.html' %}
    
    <!---->
    {% include 'public/includes/navbar.html' %}
    
    <div class="layout-wrapper layout-content-navbar" style="width:100%">
      
      <div class="layout-container" style="width:100%">
        
        {% include 'public/includes/menu_sidebar.html' %}
        
        <div class="layout-page" style="width:100%">
          
          <div class="content-wrapper" style="width:100%">
            <div class="container-xxl flex-grow-1 container-p-y" style="width:100%">
              
              {% include 'public/includes/messages.html' %}
             
              <!---->
              {% block body %}
              <div style="background-image: repeating-linear-gradient(
                105deg,
                #ffb338 0%,
                #3e2904 5%,
                #ffb338 12%,
                );		 	
                color: #363833;
                filter: drop-shadow(5px 15px #ffb338);
                transform: scaley(0.80);
                position: relative;
                font-weight: 600;
                font-size: 10em;
                letter-spacing: 1px;
                -webkit-text-stroke: 10px transparent;
               
                font-family: 'Comic Sans MS';
                text-transform: uppercase;
                height: 80vh;
                display:flex;	 				
                justify-content:center;
                width:100%;
                align-items:center;" class="">Legal & Inf.</div>
              <!--fin del bloque-->
              {% endblock %}
              
            </div>

            <div class="content-backdrop fade"></div>
            
          </div>
         
        </div>
        
      </div>

      <div class="layout-overlay layout-menu-toggle"></div>
    </div>

    {% include 'public/includes/js.html' %}
    <!--Custom JS-->
    {% block customJS %} {% endblock %}
  </body>
</html>
